# file: /etc/dhcpd/dhcp-reserved.conf.j2
# synopsis: defines the reserved IP addresses for all supported VLANs

#### Reserved addresses for IoT VLAN ####

# --- Hue bridges
host hue-fusebox {
  hardware ethernet 00:17:88:2e:c5:b3;
  fixed-address 10.20.2.246;
}
host hue-attic {
  hardware ethernet 00:17:88:6d:22:93;
  fixed-address 10.20.2.247;
}
# --- Airco units
host airco-bedroom {
  hardware ethernet f0:03:8c:d5:7e:da;
  fixed-address 10.20.2.201;
}
host airco-laundry {
  hardware ethernet f0:03:8c:d5:c1:06;
  fixed-address 10.20.2.202;
}
host airco-menno {
  hardware ethernet f0:03:8c:d5:c0:99;
  fixed-address 10.20.2.203;
}
host airco-office {
  hardware ethernet f0:03:8c:d5:7f:26;
  fixed-address 10.20.2.204;
}
host airco-living {
  hardware ethernet e8:c7:cf:53:80:52;
  fixed-address 10.20.2.205;
}
# --- Shelly switches
host plug-dryer {
  hardware ethernet d8:f1:5b:16:01:b4;
  fixed-address 10.20.2.211;
}
host plug-floorpump {
  hardware ethernet e0:98:06:9d:9a:b3;
  fixed-address 10.20.2.212;
}
host shutter-garage {
  hardware ethernet 68:c6:3a:f9:c3:ec;
  fixed-address 10.20.2.213;
}
# --- SolarEdge monitoring Pi
host solar-pi {
    hardware ethernet b8:27:eb:4f:a7:25;
    fixed-address 10.20.0.19;
}

###### Reserved addressed for Home VLAN

# --- Color laser printer
host hp-printer {
  hardware ethernet 04:0e:3c:e9:ba:1f;
  fixed-address 10.10.2.250;
}

###### Reserved addresses for Cloud VLAN

# --- SolarEdge inverter
host SE7000 {
  hardware ethernet 00:27:02:14:57:30;
  fixed-address 10.30.0.20;
}

###### Reserved addressed for Server VLAN

# --- Kubernetes production cluster nodes
host k3s-prod-m01 {
  hardware ethernet 02:be:10:64:03:21;
  fixed-address 10.100.3.21;
}
host k3s-prod-m02 {
  hardware ethernet 02:be:10:64:03:22;
  fixed-address 10.100.3.22;
}
 host k3s-prod-m03 {
  hardware ethernet 02:be:10:64:03:23;
  fixed-address 10.100.3.23;
}
host k3s-prod-w01 {
  hardware ethernet 02:be:10:64:03:24;
  fixed-address 10.100.3.24;
}
host k3s-prod-w02 {
  hardware ethernet 02:be:10:64:03:25;
  fixed-address 10.100.3.25;
}
host k3s-prod-w03 {
  hardware ethernet 02:be:10:64:03:26;
  fixed-address 10.100.3.26;
}
host k3s-prod-w04 {
  hardware ethernet 02:be:10:64:03:27;
 fixed-address 10.100.3.27;
}
host k3s-prod-w05 {
  hardware ethernet 02:be:10:64:03:28;
  fixed-address 10.100.3.28;
}
host k3s-prod-w06 {
  hardware ethernet 02:be:10:64:03:29;
  fixed-address 10.100.3.29;
}
