# file: ./roles/dhcp/templates/dhcp-reserved.conf.j2
# synopsis: defines the reserved IP addresses for all VLANs

#### Hostname override for invalid hostnames ####

{% for entry in dhcp_hostname_overrides %}
host {{entry.host}} {
  hardware ethernet {{entry.mac}};
  option host-name "{{entry.name}}";
}
{% endfor %}

#### Reserved addresses ####

{% for entry in dhcp_reservations %}
host {{entry.host}} {
  hardware ethernet {{entry.mac}};
  fixed-address {{entry.address}};
}
{% endfor %}
