# file:
# synopsis:

#--- VLAN 0 - Management VLAN
subnet 10.0.0.0 netmask 255.255.255.0 {
    option broadcast-address    10.0.0.255;
    option subnet-mask          255.255.255.0;
    option routers              10.0.0.1;
    pool {
        failover peer "dhcp-failover";
        range 10.0.0.100 10.0.0.200;
    }
    if exists user-class and ( option user-class = "iPXE" ) {
        filename "http://boot.netboot.xyz/menu.ipxe";
    } elsif option arch = encode-int ( 16, 16 ) {
        filename "http://boot.netboot.xyz/ipxe/netboot.xyz.efi";
        option vendor-class-identifier "HTTPClient";
    } elsif option arch = 00:07 {
        filename "netboot.xyz.efi";
    } else {
        filename "netboot.xyz,kpxe";
    }
}

#--- VLAN 10 - User VLAN
subnet 10.10.0.0 netmask 255.255.240.0 {
    option broadcast-address    10.10.3.255;
    option subnet-mask          255.255.240.0;
    option routers              10.10.0.1;
    pool {
        failover peer "dhcp-failover";
        range 10.10.1.20 10.10.2.200;
    }
    if exists user-class and ( option user-class = "iPXE" ) {
        filename "http://boot.netboot.xyz/menu.ipxe";
    } elsif option arch = encode-int ( 16, 16 ) {
        filename "http://boot.netboot.xyz/ipxe/netboot.xyz.efi";
        option vendor-class-identifier "HTTPClient";
    } elsif option arch = 00:07 {
        filename "netboot.xyz.efi";
    } else {
        filename "netboot.xyz,kpxe";
    }
}

#--- VLAN 20 - IoT VLAN
subnet 10.20.0.0 netmask 255.255.240.0 {
    option broadcast-address    10.20.3.255;
    option subnet-mask          255.255.240.0;
    option routers              10.20.0.1;
    pool {
        failover peer "dhcp-failover";
        range 10.20.0.20 10.20.2.200;
    }
    if exists user-class and ( option user-class = "iPXE" ) {
        filename "http://boot.netboot.xyz/menu.ipxe";
    } elsif option arch = encode-int ( 16, 16 ) {
        filename "http://boot.netboot.xyz/ipxe/netboot.xyz.efi";
        option vendor-class-identifier "HTTPClient";
    } elsif option arch = 00:07 {
        filename "netboot.xyz.efi";
    } else {
        filename "netboot.xyz,kpxe";
    }
}

#--- VLAN 30 - Cloud IoT VLAN
subnet 10.30.0.0 netmask 255.255.255.0 {
    option broadcast-address    10.30.0.255;
    option subnet-mask          255.255.255.0;
    option routers              10.30.0.1;
    pool {
        failover peer "dhcp-failover";
        range 10.30.0.20 10.30.0.200;
    }
}

#--- VLAN 100 - Server VLAN
subnet 10.100.0.0 netmask 255.255.240.0 {
    option broadcast-address    10.100.3.255;
    option subnet-mask          255.255.240.0;
    option routers              10.100.0.1;
    pool {
        failover peer "dhcp-failover";
        range 10.100.1.100 10.100.2.200;
    }
    if exists user-class and ( option user-class = "iPXE" ) {
        filename "http://boot.netboot.xyz/menu.ipxe";
    } elsif option arch = encode-int ( 16, 16 ) {
        filename "http://boot.netboot.xyz/ipxe/netboot.xyz.efi";
        option vendor-class-identifier "HTTPClient";
    } elsif option arch = 00:07 {
        filename "netboot.xyz.efi";
    } else {
        filename "netboot.xyz,kpxe";
    }
}
